pkgbase = usagebar-cli-bin
	pkgdesc = UsageBar's codexbar CLI: AI coding-provider usage limits, with Machine Sync
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/felipearosr/UsageBar
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0 WITH Swift-exception
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = curl
	depends = sqlite
	provides = codexbar
	conflicts = codexbar
	conflicts = codexbar-bin
	conflicts = codexbar-cli
	conflicts = codexbar-cli-bin
	conflicts = codexbar-git
	noextract = usagebar-cli-1.0.0-linux-x86_64.tar.gz
	noextract = usagebar-cli-1.0.0-linux-aarch64.tar.gz
	options = !strip
	options = !debug
	source = LICENSE-1.0.0::https://raw.githubusercontent.com/felipearosr/UsageBar/usagebar-v1.0.0/LICENSE
	source = LICENSE-swift-6.3.3::https://raw.githubusercontent.com/swiftlang/swift/swift-6.3.3-RELEASE/LICENSE.txt
	sha256sums = 0000000000000000000000000000000000000000000000000000000000000000
	sha256sums = 770af8291f708538d8ff885a0bbc4e045cd700531741c4f99528d435c14d7f55
	source_x86_64 = https://github.com/felipearosr/UsageBar/releases/download/usagebar-v1.0.0/usagebar-cli-1.0.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = 0000000000000000000000000000000000000000000000000000000000000000
	source_aarch64 = https://github.com/felipearosr/UsageBar/releases/download/usagebar-v1.0.0/usagebar-cli-1.0.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 0000000000000000000000000000000000000000000000000000000000000000

pkgname = usagebar-cli-bin
